* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 70px;
    text-align: center;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: red;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
    background-color: #0a141d;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: red;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    transform: scale(1.05);
    color: #fff;
}

.action_btn:active {
    transform: scale(0.95);
}

.action_btn2 {
  background-color: red;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn2:hover {
  transform: scale(1.05);
  color: #fff;
}

.action_btn2:active {
  transform: scale(0.95);
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(103, 4, 4, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 320px;
    position: absolute;
    top: 100%;
    z-index: 9999;  
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#fadeText {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*PAGINA*/
.container {
    max-width: 768px; /* Adjust the max-width value as per your requirement */
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.1); /* Adjust the background color and transparency */
    padding: 20px; /* Adjust the padding value as per your requirement */
    border-radius: 20px; /* Adds rounded edges to the container */
  }
  
  .content {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .container {
      max-width: 90%; /* Adjust the max-width for smaller screens */
    }
  }

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* 
General styles 
*/
:root {
    --naranja: #ff8177;
    --rojo: #b12a5b;
    --primary-color: #b12a5b;
  }

  .gradient-text {
    background-image: linear-gradient(45deg, var(--naranja), var(--rojo));
    background-color: var(--naranja);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

/*Imagenes*/
  /* Efecto Hover solo a imágenes con la clase "hover-effect" */
  img.hover-effect {
    transition: transform 0.3s ease-in-out;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  img.hover-effect:hover {
    transform: scale(1.1);
  }

  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .input-container {
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 0.5rem;
  }
  
  .input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
  }
  
  .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 300ms ease;
  }
  
  .input-container label {
    color: var(--primary-color);
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  input:checked+.radio-tile {
    background-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
    transform: scale(1.1);
  }
  
  input:hover+.radio-tile {
    box-shadow: 0 0 12px var(--primary-color);
  }
  
  input:checked+.radio-tile ion-icon,
  input:checked+.radio-tile label {
    color: white;
  }

/*Botón*/
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background: #000;
    align-items: center;
}
.btn-neon:hover{
    background: #b12a5b;
    box-shadow: 0 0 10px #b12a5b, 0 0 40px #b12a5b, 0 0 80px #b12a5b;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent,#b12a5b);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent,#b12a5b);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#b12a5b);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#b12a5b);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*Galeria*/
.container section {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lightbox:target {
  visibility: visible;
  opacity: 1;
}

.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.lightbox .close:before {
  content: "×";
}

/* Media queries */
@media (max-width: 767px) {
  .gallery a {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  
  .lightbox img {
    max-width: 100%;
    max-height: 100%;
  }
}

  /*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #b12a5b;
	border: 1px solid #b12a5b;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #b12a5b;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/

/*Tablas*/
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 100px); /* Se ajusta la altura para dejar espacio para el footer */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px; /* Agrega un margen inferior para separar el contenido del footer */
  position: relative; /* Agrega posicionamiento relativo */
}

.tabla{
    width: 25%;
    height: 550px;
    margin: auto;
    border:1px solid #b12a5b;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #b12a5b;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2{
    font-size:30px;
    margin-bottom:35px;
}

.tabla img{
    width: 64px;
    margin-bottom:35px;
}

.tabla > h3{
    font-size:30px;
    margin-bottom: 20px;
}

.tabla > p{
    display: block;
    margin-bottom:20px;
}

.boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: #b12a5b;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover{
    background: #b12a5b;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}

/*Formulario*/
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #b12a5b;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register a {
    display: block;
    width: 100%;
    background: #b12a5b;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  /*Olvido*/
  .slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/*Outfit*/
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .4);
  transition: 1s;
  margin: 0 auto;
}

.custom-card:hover {
  transform: translateX(50%);
}

.custom-card .custom-imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transform-origin: left;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .4);
  z-index: 10;
  transition: 1s;
}

.custom-card:hover .custom-imgBox {
  transform: rotateY(-180deg);
}

.custom-imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.custom-imgBox img:nth-child(2) {
  transform: rotateY(-180deg);
}

.custom-details {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.custom-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.custom-content h2 {
  font-size: 32px;
  text-align: center;
}

.custom-content p {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .custom-card {
    width: 200px; /* Cambia el valor a tu preferencia */
    height: 300px; /* Cambia el valor a tu preferencia */
  }

  .custom-content h2 {
    font-size: 24px; /* Cambia el valor a tu preferencia */
  }
  
  .custom-content p {
    font-size: 14px; /* Cambia el valor a tu preferencia */
  }
}

/*Confirmacion*/
.custom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .custom-warning {
    border-radius: .3rem;
    padding: .5rem;
    text-align: center;
    width: 40%;
    margin: 1rem;
  }
  
  .custom-advice {
    background-color: rgb(158, 223, 233);
    border: solid 2px cadetblue;
    color: rgb(62, 106, 107);
  }
  
  .custom-success {
    background-color: rgb(124, 230, 165);
    border: solid 2px rgb(31, 83, 44);
    color: rgb(31, 83, 44);
  }
  
  .custom-danger {
    background-color: rgb(230, 141, 163);
    border: solid 2px rgb(189, 78, 106);
    color: rgb(189, 78, 106);
  }
  
  .custom-be-careful {
    background-color: rgb(246, 230, 47);
    border: solid 2px rgb(118, 131, 46);
    color: rgb(118, 131, 46);
  }
  
  .custom-warning i {
    font-size: 3rem;
  }
  
  .custom-button {
    min-width: 4rem;
  }

  /*Arriba*/
  .btn-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: #b12a5b;
    color: #000;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
  }
  
  .btn-scrolltop-on {
    transform: translateY(0);
  }

  /*Video Responsivo*/
  .responsive-video {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 767px) {
    .video-container {
      padding-bottom: 75%;
    }
  }
  
  @media (max-width: 767px) {
    .responsive-video {
      aspect-ratio: 4/3;
    }
  }

  /*Boton2*/
  @media (max-width: 500px) {
    /* Estilos para la versión móvil */
    .action_btn2 {
      display: block;
      text-align: center;
      margin-top: 20px;
    }
  }

  @media (min-width: 501px) {
    /* Estilos para la versión de escritorio */
    .action_btn2 {
      display: none;
    }
  }